
<!DOCTYPE html>
<html lang="zh-cn" class="p-index">
<head>
    <meta charset="utf-8">
    <title>Code Comb Technology Co., Ltd.</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/home.css">
</head>
<body>
    <div class="hexagon" id="hex-1">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
            <i class="fa fa-object-group icon"></i>
            <span class="button">项目案例</span>
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-1-outer">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-2">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
            <i class="fa fa-github icon"></i>
            <span class="button">GitHub</span>
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-2-outer">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-3">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
            <i class="fa fa-group icon"></i>
            <span class="button">关于我们</span>
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-3-outer">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-4">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
            <i class="fa fa-star icon"></i>
            <span class="button">合作伙伴</span>
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-4-outer">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-5">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
            <i class="fa fa-desktop icon"></i>
            <span class="button">经营范围</span>
        </div>
        <div class="hiveBottom">
        </div>
    </div>
    <div class="hexagon" id="hex-5-outer">
        <div class="hiveTop">
        </div>
        <div class="hiveCenter">
        </div>
        <div class="hiveBottom">
        </div>
    </div>
</body>
</html>