
<!DOCTYPE html>
<html lang="zh-cn" class="p-index">
<head>
    <meta charset="utf-8">
    <title>Code Comb Technology Co., Ltd.</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/codecomb.home.css">
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/codecomb.home.js"></script>
</head>
<body>
    <div class="hexagon group-1 init" id="hex-1">
        <div class="hiveTop group-1">
        </div>
        <div class="hiveCenter group-1">
            <i class="fa fa-object-group icon group-1"></i>
            <span class="button group-1">项目案例</span>
        </div>
        <div class="hiveBottom group-1">
        </div>
    </div>
    <div class="hexagon group-1 init" id="hex-1-outer">
        <div class="hiveTop group-1">
        </div>
        <div class="hiveCenter group-1">
        </div>
        <div class="hiveBottom group-1">
        </div>
    </div>
    <div class="hexagon group-2 init" id="hex-2">
        <div class="hiveTop group-2">
        </div>
        <div class="hiveCenter group-2">
            <i class="fa fa-github icon group-2"></i>
            <span class="button group-2">GitHub</span>
        </div>
        <div class="hiveBottom group-2">
        </div>
    </div>
    <div class="hexagon group-2 init" id="hex-2-outer">
        <div class="hiveTop group-2">
        </div>
        <div class="hiveCenter group-2">
        </div>
        <div class="hiveBottom group-2">
        </div>
    </div>
    <div class="hexagon group-3 init" id="hex-3">
        <div class="hiveTop group-3">
        </div>
        <div class="hiveCenter group-3">
            <i class="fa fa-group icon group-3"></i>
            <span class="button group-3">关于我们</span>
        </div>
        <div class="hiveBottom group-3">
        </div>
    </div>
    <div class="hexagon group-3 init" id="hex-3-outer">
        <div class="hiveTop group-3">
        </div>
        <div class="hiveCenter group-3">
        </div>
        <div class="hiveBottom group-3">
        </div>
    </div>
    <div class="hexagon group-4 init" id="hex-4">
        <div class="hiveTop group-4">
        </div>
        <div class="hiveCenter group-4">
            <i class="fa fa-star icon group-4"></i>
            <span class="button group-4">合作伙伴</span>
        </div>
        <div class="hiveBottom group-4">
        </div>
    </div>
    <div class="hexagon group-4 init" id="hex-4-outer">
        <div class="hiveTop group-4">
        </div>
        <div class="hiveCenter group-4">
        </div>
        <div class="hiveBottom group-4">
        </div>
    </div>
    <div class="hexagon group-5 init" id="hex-5">
        <div class="hiveTop group-5">
        </div>
        <div class="hiveCenter group-5">
            <i class="fa fa-desktop icon group-5"></i>
            <span class="button group-5">经营范围</span>
        </div>
        <div class="hiveBottom group-5">
        </div>
    </div>
    <div class="hexagon group-5 init" id="hex-5-outer">
        <div class="hiveTop group-5">
        </div>
        <div class="hiveCenter group-5">
        </div>
        <div class="hiveBottom group-5">
        </div>
    </div>
</body>
</html>